# pip install torch==2.2.0 torchvision==0.17.0 torchaudio==2.2.0 --index-url https://download.pytorch.org/whl/cu118
einops==0.8.1
fvcore==0.1.5.post20221221
h5py==3.13.0
imageio==2.37.0
matplotlib==3.10.1
numpy==1.26.1
opencv-python==4.11.0.86
Pillow==11.1.0
pytorchvideo==0.1.5
scipy==1.15.2
scikit-image==0.25.2
tqdm==4.67.1
